.query-list{
    /* border:black 4px solid; */
    width:80%;
    height: 20%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left:10%;
    font-size: 25px;
    justify-content: space-between;
}

  .check-box{
      width: 40px;
      height: 30px;
      border:3px;


  }

  .wifi-image{
      height:60px;
      width: 60px;
  }
  .filter-title{
      font-size: 30px;
  }