.check-form{
    border: solid 4px black;
    background-color: lightblue;
    height: 80px;
    width: 20%;
    margin-left:40%

}


.zip-input{
    width:200px;
    height:50px;
    font-size:18px;
    text-align: center;
}
.search-button{
    width:100px;
    height:55px;
    font-size:18px;
    font-weight: bold;
}
.ul-locations{
    list-style:none;
    text-align: left;
    width: 30%;
float:left;
border:solid 2px black
}
.location{
    list-style:none;
}

